h1 {
	font-size: 120px;
}

h2 {
	font-size: 64px;
}

h3 {
	font-size: 26px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 5px 0;
}

body {
	font-family: 'roboto', 'helvetica-neue', 'Helvetica Neue', Arial, sans-serif;
	font-size: 18px;
}

ul {
	font-size: 18px;
}